.about_banner {
  background-position: center;
  background-size: cover;
  margin : 2rem;
  background-image: url("../Assets/About-Banner.png");
  min-height: 14rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
}