.Card_container {
  background-color: #F6F6F6 ;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem; 
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;

    @media screen and (max-width: 768px) {
    background-color: transparent;
    padding: 0rem;
    margin: 1rem;
      
    }
}

.Card {
  flex: 1;
  min-width: 13rem; 
  height: 12rem;
  background-color: #FF6060;
  padding: 16px; 
  border-radius: 1rem ;
  margin-bottom: 16px; 
}
