.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 1rem 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;

  .logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .nav-links {
    ul {
      list-style: none;
      display: flex;
      margin-left: auto;

      li {
        margin-left: 40px;

        a {
          text-decoration: none;
          font-weight: bold;
            color: #FF6060;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}