body{
    margin: 0;
}

.page{
    min-height: calc(100vh - 15%);
}

.About_Panel {
    padding-inline: 7rem;

    @media screen and (max-width: 768px) {
        padding-inline: 1rem;
        
    }
}