@import "../../../src/styles/variables.scss";

body {
  margin: 0;
}
.error {

  font-family: $kasa-font;
  min-height: calc(100vh - 23rem);
  color: $kasa-red;
  text-align: center;
  h1 {
    font-size: 10rem;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 36px;
    font-weight: 500;
  }
  a {
    color: $kasa-red;
  }
}
