@import "../../../src/styles/variables.scss";

.footer {
  font-family: $kasa-font;
  background-color: $kasa-black;
  color: $kasa-white ;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  min-height: 100px;
  display: grid;
  place-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
