.Accommodation_Panel {
    margin : 2rem;
    display: flex;
    gap: 4rem;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin : 1rem;
        gap : 1rem;
      
    }
  }
