
.Card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem; 
    padding: 2rem;
}

.Card {
  flex: 1;
  min-width: 13rem; 
    max-width: auto;
  height: 12rem;
  background-color: #FF6060;
  padding: 16px; 
  border-radius: 1rem ;
  margin-bottom: 16px; 
}
